@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --marrom-principal: #733F2D;
    --marrom-claro: #7a5a4f;
    --marrom-escuro: #251712;
    --marrom-avermelhado:#422020;
    --bege:#a77d7d;


}

*{
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
}

header{
    background-color: var(--marrom-principal);
    max-width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    color: rgb(252, 249, 249);
    align-items: center;
    padding: 0px 10px;
    max-width: 100vw;
}

#nome-logo{
    font-weight: 200;
    font-size: 25px;
    
}

span{
    font-weight: 700;
    font-size: 26px;
    color:var(--marrom-avermelhado);
}

ul{
    display: flex;
    gap: 50px;
    list-style: none;
}

.cl{
    padding: 10px;
}




.menu{
    display: inline-block;
    text-decoration: none;
    color: var(--bege);
    font-size: 20px;
    padding: 5px;
    transition: 0.3s;
    
}

a:hover{
    color:#582716;
    
}

.banner-principal{
    text-align: center;
    padding: 40px 200px;
    background-image: linear-gradient(var(--marrom-principal),var(--marrom-claro));
    color: aliceblue;
    height: 35vh;
    
}

h1 {
    margin-bottom: 10px;
    padding-bottom: 30px;
    padding-top: 50px;
    font-size:40px ;

}

p{
    margin-bottom: 70px;
    font-size: 25px;
}
#btn-ver-livros {
    background-color: var(--marrom-claro);
    text-decoration: none;
    color: var(--marrom-escuro);
    padding: 20px 50px;
    border-radius: 10px;
    
}

.foto-livro {
    width: 200px;
    height: 260px;

}

.grade-livros{
    max-width: 80vw;
    margin: 50px auto;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;

}

.livros-populares{
    text-align: center;
    font-size: 30px;
    margin-top: 30px ;
    font-weight: 600;

}

.card-livro{
    width: 11vw;
    text-align: center;
    border-radius: 6px;
    background-color: #5c3224;
    padding-top: 6px;
    box-shadow: 0px 0px 10px #251712 ;
    overflow: hidden;

}

.info-livro{
    height: 220px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;

}
.btn-livro{
    background-color: #733F2D;
    padding: 8px 10px;
    color: aliceblue;
    border: none;
    border-radius: 5px 15px;
    font-size: 18px;
    font-weight: 500;
}
.btn-livro:hover{
    background-color:#251712;

}

.categoria-livro{
    font-size: 16px;
    font-weight: 400;
    color: aliceblue;
    background-color: #422020;
    padding: 5px;
    border-radius: 15px;
}

.titulo-livro{
    font-size: 25px;
    color: antiquewhite;
    padding: 15px;
}

.autores-livro{
    font-size: 16px;
    margin-bottom: 15px;
}

/*Secao como funciona*/

.ajuda{
    background-image: linear-gradient(var(--marrom-claro), var(--marrom-principal));
    padding: 60px  20px;
    color: antiquewhite;
    text-align: center;
    margin-bottom: 80x;
    font-size: 20px;
    border-top: 6px solid var(--marrom-claro);
    box-shadow: 0 0 15px #744b3b ;
}

.todos-passos{
    display: flex;
    justify-content: center;
    max-width:85vw;
    margin: 0 auto;
    text-align: center;
    gap: 30px;
    flex-wrap: wrap;
}

.passos{
    width: 25vw;
}

.passos p {
    font-size: 19px;
    font-weight: 300;
}

footer{
    background-image: linear-gradient(var(--marrom-principal),var(--marrom-claro));
    padding: 10px;
   

}

.footer-container{
    display: flex;
    height: 30vh;
    max-width: 95vw;
    margin: 0 auto;
    color: aliceblue;
    border-bottom: 0px solid var(--marrom-claro);
    justify-content: space-between;
    
}

.logo{
    font-size: 25px;
    font-weight: 300;
}

.footer-coluna P{
    font-size: 16px;
    margin-bottom: 20px;
}

.footer-coluna{
    display: flex;
    flex-direction: column;
    max-width: 15vw;
    
}

.footer-coluna ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 16px;
    padding: 0;
}

a{
    text-decoration: none;
    color: aliceblue;
}

.footer-coluna h4 {
     color: #331509  ;
}

.footer-social{
    padding: 15px;

}

.footer-linha{
    max-width: 70vw;
    margin: 20px auto;
    border:solid #251712;
}


.footer-copy{
    margin-top: 20px ;
    text-align: center;

}

.footer-social i {
    font-size: 33px;
    transform: scale(1.1);
}


.footer-coluna a:hover {
    color: #582716;
    font-weight: 600;
    box-sizing: border-box;

}